<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="dbservername" value="VIBHAV-PC\SQLEXPRESS"/>
    <add key="dbusername" value="sa"/>
    <add key="dbpassword" value="Sai@107#"/>
    <add key="dbName" value="TODOList"/>
  </appSettings>
</configuration>